.WrappedStyled{
    max-width: 1200px;
    margin: 20px auto;
    padding: 2rem;
    min-height: calc(100vh);
    background-color: #ececec;
 
  
}
.ItemName{
   font-size: 18px;
   font-weight: 500; 
}
.ItemDescription{
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    color: rgba(32, 33, 37, 0.64);
    text-align: start;
    margin: 0.25rem 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 1.25rem;
}
.ItemQuantity{
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 700;
    color: rgb(0, 157, 224);
}
.Total{
    font-size: 1rem;
    display: block;
    color: #009de0;
}
